.component-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  /* height: 30vh; */
  /* height: 200px; */
  /* border: 1px solid black; */
  margin: 10px;
  padding: 10px;
}

.screenshot-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator-link {
  color: blue;
  text-decoration: underline;
}

.creator-link:hover {
  color: aqua;
  cursor: pointer;
}

.component-buttons {
}
.component-buttons button {
}

/* .component-main-expanded {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 40%;
  height: 200px;
  border: 1px solid black;
  margin: 10px;
} */
