.component-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

pre {
  padding: 10px;
  background-color: #535353;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.486);
  min-width: 70%;
  border-radius: 4px;
  text-align: left;
}

.specific-tag {
  margin-right: 5px;
}

.specific-tag:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
}

.tag-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.creator-link {
  font-size: 20px;
  margin: 5px;
  width: 10%;
  align-self: center;
}

.creator-link:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
}

.jsUpload:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
}

.screenshotUpload:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
}

.view-source-code:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
  display: inline-block;
}

.view-read-me:hover {
  color: hsl(275, 80%, 45%);
  /* content: "Read Me"; */
  cursor: pointer;
}

.file-copy:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
  display: inline-block;
}

.component-update-btn {
  color: white;
  padding: 0.25em;
  border-radius: 0.6em;
  text-shadow: 1px 1px 1px black;
}

.component-update-btn:hover {
  color: hsl(30, 97%, 49%);
  cursor: pointer;
}

.tag-comp-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-input {
  padding: 7px;
  font-size: 0.75rem;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: hsl(270, 1%, 47%);
}

.tag-text-display {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  bottom: 150%;
  /* left: 50%; */
  /* margin-left: -60px; */
}

.tag-icon-container {
  margin-left: 5px;
}

.add-tag-btn {
  align-items: center;
}

.add-tag-btn:hover {
  color: hsl(275, 80%, 45%);
  cursor: pointer;
}

.add-tag-btn .tag-text-display::after {
  color: hsl(275, 80%, 45%);
  visibility: visible;
}

.component-buttons {
  margin: 10px;
}

/* .component-main-expanded 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 40%;
  height: 200px;
  border: 1px solid black;
  margin: 10px; */

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
}

input.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

/* input.jsinput + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.jsinput:focus + label,
.jsinput + label:hover {
  background-color: red;
} */
/* figure out styles for buttons on modal */
