.home-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-components-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15%;
  height: 100vh;
  border: 1px solid black;
  z-index: 9999;
}

.profile-navs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  /* border: 1px solid black; */
  height: 35px;
  z-index: 9999;
}

/* .profile-img {
  border: 1px solid black;
} */
