.main {
  display: flex;
  height: 100vh;
}

.left {
  width: 20%;
  height: 100%;
}

.left hr {
  width: 25%;
  text-align: left;
  margin-left: 0;
  border-color: rgb(120, 24, 245);
}

.middle {
  width: 60%;
  overflow: scroll;
}

.right {
  width: 20%;
  height: 100%;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  /* border: 3px solid rebeccapurple; */
  height: 200px;
}

.profile-img img {
  height: 150px;
  width: 150px;
  border-radius: 500px;
}

.display-component-container {
  border: 1px solid rgb(120, 24, 245);
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 4px 4px 4px hsl(0, 0%, 33%); */
  text-shadow: 3px 3px 3px black;
  justify-content: center;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: #333333;
  color: white;
  text-align: center;
}
