.home-container2 {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home-left2 {
  border: 2px solid chartreuse;
  grid-column: 1/2;
}

.home-components-container2 {
  border: 2px solid black;
  grid-column: 2/7;
  border: 5px solid blue;
  overflow: scroll;
}

.profile-img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rebeccapurple;
  height: 250px;
}

.profile-img2 img {
  height: 150px;
  width: 150px;
  border-radius: 500px;
}

.search {
  grid-column: 7/8;
  border: 1px solid green;
  height: 100px;
  padding: 20px;
}

.searchBar {
  padding: 7px;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: hsl(270, 1%, 47%);
}

.searchBar:focus {
  border-color: 1px solid hsl(115, 85%, 39%);
  box-shadow: 0, 0, 5px, 0 hsl(115, 85%, 39%);
}
