.profile-edit-button {
  color: white;
  padding: 0.25em;
  border-radius: 0.6em;
  text-shadow: 1px 1px 1px black;
}

.profile-edit-button:hover {
  color: hsl(32, 98%, 49%);
  box-shadow: 1px 1px 3px rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.display-component-edit-delete-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.profile-delete-button:hover {
  color: hsl(10, 98%, 49%);
  cursor: pointer;
}

.profile-left hr {
  width: 25%;
  text-align: left;
  margin-left: 0;
  border-color: rgb(120, 24, 245);
}

.about-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-bottom: 20px;
}
