.profile-container {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.profile-left {
  border: 2px solid chartreuse;
  grid-column: 1/2;
}

.profile-components-container {
  border: 2px solid black;
  grid-column: 2/7;
  border: 5px solid blue;
  overflow: scroll;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rebeccapurple;
  height: 250px;
}

.profile-img img {
  height: 150px;
  width: 150px;
  border-radius: 500px;
}

.profile-right {
  grid-column: 7/8;
  border: 1px solid green;
  height: 100px;
  padding: 20px;
}

.display-component-container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px hsl(0, 0%, 33%);
  text-shadow: 3px 3px 3px black;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #242526;
  color: white;
}
